# Make sure to exclude test data directory
orbitdb/

# Don't distribute the dependencies
node_modules/

# Don't distribute source maps
dist/*.map

# Don't distribute the debug build
dist/orbitdb-liftoff.js

.git
test
conf
CONTRIBUTING.md
CODE_OF_CONDUCT.md
